[Unit]
Description = Main API for MyCoinStore
After = network.target

ExecStart = /usr/bin/npm run graphql-prod
ExecStartPost = /home/slack/deployapi.sh
WorkingDirectory = /home/coin-collecting

[Install]
WantedBy = multi-user.target
