[Unit]
Description = Main API for MyCoinStore
After = network.target

[Service]
ExecStart = /usr/bin/npm run graphql-prod
WorkingDirectory = /home/coin-collecting

[Install]
WantedBy = multi-user.target
