[Unit]
Description = Main API for MyCoinStore
After = network.target

[Service]
ExecStart = /usr/bin/npm run graphql-prod
ExecStartPost = curl -X POST --data "payload={\"text\": \":slack: Deployed API\"}" https://hooks.slack.com/services/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
WorkingDirectory = /home/coin-collecting

[Install]
WantedBy = multi-user.target
