@import '../../base/palette';

.slide-menu {
  aside {
    position: fixed;
    top: 0;
    right: -150px;
    bottom: 0;
    width: 150px;
    background-color: $brandedAlt;
    border-left: solid 2px darken($brandedAlt, 20);
    z-index: 999;
    transition: ease all .5s;
    box-sizing: border-box;
  }

  .underlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 900;
    background-color: transparent;
    cursor: w-resize;
    display: none;
  }

  &.open {
    aside {
      right: 0;
    }
    .underlay {
      display: block;
    }
  }

  .main-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li:first-child {
      display: none;
    }

    a {
      padding: 20px;
      border-bottom: solid 2px lighten($brandedAlt, 10);
      background-color: transparent;
      display: block;
      font-size: 18px;
      color: $darkGray;
      opacity: .8;
    }

    .active {
      background-color: #fff;
      font-weight: 700;
      opacity: 1;
    }
  }
}
