@import '../../base/palette';

.add-composition-component {
  input {
    border: 0;
    border-radius: 0;
    border-right: solid 1px $lightestGray;
    text-transform: capitalize;
  }

  button {
    background-color: $primaryColor;
    border: 0;
  }

  .error-item {
    display: block !important;
    width: 100% !important;

    .error-msg {
      margin: 10px 0 !important;
    }
  }
}

.add-composition-component.large,
.add-composition-component.infinity {
  .input-list {
    display: block;
  }

  li {
    display: inline-block;
    width: 70px;
  }

  input,
  button {
    width: 100%;
  }
}

.add-composition-component.medium {

  .input-list {
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    padding: 0;

    li {
      display: inline-block;
      width: calc(100% / 9);
    }

    input {
      width: 100%;
      border-bottom: solid 1px $lightestGray;
    }

    button {
      display: block;
      width: 100%;
      border-radius: 0;
    }
  }
}

.add-composition-component.small {
  .input-list {
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    padding: 0;

    li {
      display: inline-block;
      width: calc(100% / 8);
    }

    li:last-child {
      width: 100%;
    }

    input {
      width: 100%;
      border-bottom: solid 1px $lightestGray;
    }

    button {
      display: block;
      width: 100%;
      border-radius: 0;
    }
  }
}

.add-composition-component.extraSmall {
  .input-list {
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    padding: 0;

    li {
      display: inline-block;
      width: calc(100% / 4);
    }

    .button {
      width: 100%;
    }

    input {
      width: 100%;
      border-bottom: solid 1px $lightestGray;
    }

    button {
      display: block;
      width: 100%;
      border-radius: 0;
    }
  }
}
