@import '../../base/palette';

.add-issue-component {
  .input-list {
    display: inline-block;
    margin: 0;
    padding: 0 0 0 15px;
    background-color: #fff;
    border-radius: 50px;
    border: solid 1px $lightestGray;

    li {
      display: inline-block;
    }

    input,
    select {
      border-top: 0;
      border-bottom: 0;
      border-left: 0;
      border-radius: 0;
      border-color: $lightestGray;
    }

    .description {
      border-right: 0;
    }

    button {
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      border: 0;
      padding: 0 25px 0 20px;
      background-color: $primaryColor;

      &:disabled {
        background-color: $disabled;
      }
    }
  }
}

.add-issue-component.medium,
.add-issue-component.small,
.add-issue-component.extraSmall {
  .input-list li {
    display: block;
  }
}
