@import '../../base/palette';

.main-navbar {
  display: block;
  background-color: #fff;
  padding: 0;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.13);

  .main-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    display: inline-block;
  }

  .subnav {
    background-color: lighten($primaryColor, 40);

    .sub-nav-list {
      margin: 0;
      padding: 0 0 0 30px;
    }

    .active {
      color: $black;
      font-weight: 700;
    }
  }

  img {
    height: 40px;
    vertical-align: center;
    margin-right: 20px;
  }

  li {
    display: inline-block;
    padding: 10px;
    margin: 0;
    vertical-align: middle;
  }

  .active {
    color: $primaryColor;
    font-weight: 700;
    position: relative;
    cursor: default;
  }

  a,
  .logout-link {
    text-decoration: none;
    color: $black;
    cursor: pointer;
    font-size: 14px;
  }

  .fa-bars {
    cursor: pointer;
    display: none;
    float: right;
    line-height: 40px;
    margin-right: 20px;
    font-size: 26px;
  }

  .logout-link {
    float: right;
    padding: 20px 20px 0 0;
  }
}

.main-navbar.infinity,
.main-navbar.large,
.main-navbar.medium {
  .main-list {
    padding-left: 20px;
  }
}

.main-navbar.small,
.main-navbar.extraSmall {
  .main-list,
  .subnav {
    display: none;
  }

  .fa-bars {
    display: inline-block;
  }

  .logout-link {
    padding: 10px 30px 0 0;
  }
}
