.main-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.main-navbar li {
  display: inline-block;
  padding: 10px;
  margin: 0;
}

.main-navbar .active {
  font-weight: bold;
}
.default-layout .default-section {
  padding: 20px;
}

.default-layout header {
  display: block;
  background-color: #c6c6c6;
  border-bottom: solid 1px #000;
}
.denomination-select select {
  text-transform: capitalize;
}
.issues-page article {
  margin-bottom: 60px;
}

.issues-page .input-list {
  margin: 0;
  padding: 0;
}

.issues-page .input-list li {
  display: inline-block;
  margin-right: 10px;
}

.issues-page table {
  border-collapse: collapse;
  width: 100%;
}

.issues-page table thead {
  background-color: #5c5c5c;
  color: #fff;
  font-weight: 400;
  text-align: left;
}

.issues-page table th,
.issues-page table td {
  border: solid 1px #000;
  padding: 10px;
}
.variety-select select {
  text-transform: capitalize;
}
.mint-select select {
  text-transform: capitalize;
}
.coins-page article {
  margin-bottom: 60px;
}

.coins-page .input-list {
  margin: 0;
  padding: 0;
}

.coins-page .input-list li {
  display: inline-block;
  margin-right: 10px;
}

.coins-page table {
  border-collapse: collapse;
  width: 100%;
}

.coins-page table thead {
  background-color: #5c5c5c;
  color: #fff;
  font-weight: 400;
  text-align: left;
}

.coins-page table th,
.coins-page table td {
  border: solid 1px #000;
  padding: 10px;
}
.issue-select select {
  text-transform: capitalize;
}
.edge-select select {
  text-transform: capitalize;
}
.composition-select select {
  text-transform: capitalize;
}
.edge-select select {
  text-transform: capitalize;
}
.varieties-page article {
  margin-bottom: 60px;
}

.varieties-page .input-list {
  margin: 0;
  padding: 0;
}

.varieties-page .input-list li {
  display: inline-block;
  margin-right: 10px;
}

.varieties-page table {
  border-collapse: collapse;
  width: 100%;
}

.varieties-page table thead {
  background-color: #5c5c5c;
  color: #fff;
  font-weight: 400;
  text-align: left;
}

.varieties-page table th,
.varieties-page table td {
  border: solid 1px #000;
  padding: 10px;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: #626262;
  font-weight: 700;
}
