@import 'palette';
@import 'icons';

input[type=text],
input[type=email],
input[type=password],
select {
  box-sizing: border-box;
  height: 40px;
  font-size: 12px;
  border: solid 1px #929292;
  border-radius: 3px;
  color: $black;
  outline: none;
  padding: 0 10px;
  background-color: #fff;
}

select {
  cursor: pointer;
}

.select-wrapper {
  position: relative;
  background-color: #fff;

  select {
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance:    none;
    padding-right: 30px;
    position: relative;
    z-index: 400;
  }

  &:after {
    content: ' ';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 22px;
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: left center;
    z-index: 200;
    background-image: $downArrow;
  }
}

.check-wrapper {
  padding: 0 10px;
  box-sizing: border-box;

  input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0;
    /* For mobile, it's typically better to position checkbox on top of clickable
       area and turn opacity to 0 instead. */
  }

  .note,
  label {
    display: inline-block;
    vertical-align: middle;
  }

  label {
    background: $lightGray;
    width: 45px;
    height: 25px;
    border-radius: 50px;
    position: relative;
    cursor: pointer;

    span {
      background: #fff;
      width: 20px;
      height: 19px;
      display: inline-block;
      position: absolute;
      top: 3px;
      left: 3px;
      border-radius: 50px;
      transition: ease all .2s;
    }
  }

  .note {
    margin-right: 20px;
    font-size: 14px;
    line-height: 39px;
  }

  /* Toggled State */
  input[type=checkbox]:checked ~ label {
    background: $primaryColor;

    span {
      left: 22px;
      background: #fff;
    }
  }
}

button {
  box-sizing: border-box;
  height: 40px;
  border-top: solid 2px transparent;
  border-right: solid 2px transparent;
  border-bottom: solid 2px darken($lightGray, 20);
  border-left: solid 2px transparent;
  border-radius: 3px;
  background-color: $lightGray;
  color: #fff;
  font-weight: 600;
  outline: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    background-color: $disabled;
    border-bottom: solid 2px transparent;
    color: $lightGray;
  }
}

.error-msg {
  color: $secondaryColor;
  font-size: 12px;
  text-align: center;
  margin: 10px 0 0 0;
  font-weight: 700;
  box-sizing: border-box;
}
